[submodule "external/response"]
	path = external/response
	url = git@github.com:Dheasra/response.git
	branch=main
[submodule "external/vampyr"]
	path = external/vampyr
	url = git@github.com:MRChemSoft/vampyr.git
